body
{
	margin: 0;
	padding: 0;
}
.main
{
	position: relative;
	width: 100%;
	background-color:#0BA9F9;
}
.main .menu
{
	display: flex;
}
.main .menu ul
{
	display: flex;
	list-style-type: none;
	padding-left: 5%;
}

.main .menu ul li a
{
	display: block;
	font-size: 28px;
	padding: 20px 24px;
	text-decoration: none;
}

.main .menu ul li a:hover
{
	background-color:#000000;
}
.banner img
{
	width: 100%;
	height: 300px;
	margin-top: 5px;
}
.service-section
{
	width: 100%;
	display:flex;
	margin-left: 18%;
	margin-top: 30px;
}
.service-section .service1
{
	width: 15%;
	height: 278px;
	background-color: #444444;
	margin-left: 79px;
	border-radius:100%;
}

.service-section .service1:hover
{
	background-color:#0BA9F9;
}

i 
{
     color:#ffffff;

	margin-top:115px;
	margin-left:116px;

}

.text1
{
 position:absolute;
 margin-top:150px;
 color:  #0ba9f9;

}
.text2
{
 position:absolute;
 margin-top:150px;
 margin-left:50px;
  color:  #0ba9f9;

}.text3
{
 position:absolute;
 margin-top:150px;
 margin-left:50px;
  color:  #0ba9f9;

}



{
  box-sizing: border-box;
}

.container 
{
  padding: 14px;
  background-color:#f1f1f1;
}

input[type=text], input[type=password], input[type=email]

{
  width: 98%;
  padding: 10px;
  margin: 5px 2px 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
 {
  background-color: #ddd;
  outline: none;
}

.form 
{

	position:absolute;
	margin-top:30%;
	margin-left:8%;
	background-color:#f1f1f1;
	padding-bottom:15%; 
}

.footer
 {
   position:fixed;
   left:0;
   bottom:0;
   width:100%;
   background-color: #002233;
   text-align: center;
   size:12px;
}


